In [13]:
import pandas as pd

In [14]:
import numpy as np

In [15]:
import matplotlib.pyplot as plt
import math

In [19]:
#Read CSV
df = pd.read_csv('quality.csv')

In [20]:
df.head()

,order id,model,chassis time,paint time,electric time,mechanical time,soft time,electric components,mechanical components,quality score,complaint
0,2014431,1,11.9,0.8,0.0,23.9,7.9,0,1,100,0
1,2014432,2,12.5,0.9,0.0,23.9,9.0,0,2,110,0
2,2014433,2,15.5,1.1,0.0,22.5,8.2,0,2,96,0
3,2014434,2,12.5,0.9,0.0,19.6,6.8,0,2,96,1
4,2014435,1,13.0,0.9,0.0,22.1,8.8,0,1,99,0

In [24]:
#Pivot table to show the avg quality score and number 1, 2, and 3 complaints per model
table = pd.pivot_table(df, index=['model', 'complaint'], values=['quality score'], aggfunc=np.mean)
table

                 quality score
model complaint
1     0              90.452381
      1              89.545455
      2              89.705882
      3              83.285714
2     0              96.551630
      1              94.647059
      2              90.034483
      3              86.000000
3     0              91.809091
      1              92.461538
      2              88.833333
      3              84.750000
4     0              97.172840
      1              99.571429
      2              93.583333